.navbar.navbar-default
  .container-fluid
    .navbar-header
     a.navbar-brand(href="/dashboard")= title
    div
      ul.nav.navbar-nav
        //- - var menuItems = ['Consumption', 'Car', 'User Account', 'Logout']
        //- - var curMenuItem = 'Car'
        //- for each (menuItem in menuItems)
        each item in menu.items
          li(class={active: menu.curItem === item.name})
            a(href=item.link)= item.name
        //-
          li(class={active: curMenu === 'Consumption'})
            a(href="#") Consumption
          li(class={active: curMenu === 'Car'})
            a(href="#") Car
          li(class={active: curMenu === 'User Account'})
            a(href="#") User Account
          li(class={active: curMenu === 'Logout'})
            a(href="#") Logout